# --- Kafka Config ---
KAFKA_CLUSTER_ID=your_cluster_id
MASTER_IP=your_master_ip
SLAVE1_IP=your_slave1_ip
SLAVE2_IP=your_slave2_ip
KAFKA_BOOTSTRAP_SERVERS=your_master_ip:9092,your_slave1_ip:9092,your_slave2_ip:9092
# --- Spark Config ---
SPARK_MASTER_PORT=7077
SPARK_MASTER_WEB_UI_PORT=8080

# --- Node Specific ---
NODE_ID=1 #node master là 1, node slave1 là 2, node slave2 là 3
MY_IP=your_master_ip

--- API Keys ---
TOMTOM_API_KEY=your_tomtom_api_key
OPENWEATHER_API_KEY=your_openweather_api_key
--- Kafka Bootstrap Servers (Dùng cho Airflow) ---
KAFKA_BOOTSTRAP_SERVERS=your_master_ip:9092,your_slave1_ip:9092,your_slave2_ip:9092

--- GCS Config ---
GOOGLE_APPLICATION_CREDENTIALS="path_to_your_google_credentials_json" # Đường dẫn tới file JSON chứa credentials của bạn (trong project)
GCS_BUCKET_NAME="your_gcs_bucket_name"